#front {
    text-align: center;
    font-size: 40px;
    color: rgba(80, 35, 17);
}

.front-img {
    width: 800px;
}

body {
    font-family: monospace, sans-serif;
    font-size: 15px;
    max-width: 750px;
    margin: 0 auto;
}

.fried-chicken {
    width: 800px;
}

.baked-chicken,
.moroccan-chicken {
    width: 750px;
}

.king-ranch {
    width: 384px;
}

img {
    height: auto;
}
* {
    box-sizing: border-box;
}

