html {
    background-color: rgb(51, 20, 20);
    box-sizing: border-box;
}

body {
    font-family: monospace, sans-serif;
    font-size: 15px;
}

.front {
    text-align: center;
    font-size: 40px;
    color: rgb(80, 35, 17);
}

.img-container {
    display: flex;
    justify-content: center;
}

div>img {
    width: 800px;
}

.king-ranch {
    width: 384px;
}

img {
    height: auto;
}

.links-container {
    border: 3px solid rgb(146, 118, 92);
    width: 400px;
    margin: 8px auto 0 auto;
    display: flex;
    background-color: rgb(233, 220, 180);
}

.return-main,
.back-top {
    flex: 1;
    padding: 8px;
    text-align: center;
}

.links-container.main {
    width: 200px;
}

.back-top-front {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.recipe-container {
    border: 8px double rgb(146, 118, 92);
    background-color: rgb(233, 220, 180);
    padding: 8px 100px;
    width: 800px;
    margin: 0 auto;
}

#header {
    text-align: center;
}